<main>
  <nav>
    <h1 id='title'>{{link-to 'Kira McLean' 'application'}}</h1>
    <ul>
      <li>{{link-to 'Projects' 'projects'}}</li>
      <li>{{link-to 'Profile' 'about'}}</li>
      <li>{{link-to 'Wifi and Coffee' 'cafes'}}</li>
    </ul>
  </nav>

  {{ outlet }}
</main>
